
<style>
  .e-prd .e-prd-title span{
    background-image:url({{ 'shop.svg' | asset_url }});
  }
</style>

<section class="e-prd">
  <div class="container">

    <h3 class="e-prd-title"> {{section.settings.title}}</h3>
    <p class="e-prd-p">{{section.settings.subtitle}}</p>


    <div class="row e-slider"> 
    {% for block in section.blocks %}
      {% assign product = all_products[block.settings.featured_product] %}
      <div class="col-lg-2 col-md-2 col-6">
        <div class="all-prd-main content2">
        <a href="{{product.url}}">
      	<div class="prd-main-div">
         
          <div class="prd-main-div-img">
          
            {% assign initial_image = product.images[1].src %}
            {% assign second_image = product.images[0].src %}    
            {%  if initial_image == nil %}
              {% assign initial_image = product.images[0].src %}
              {% endif %}
            {% if initial_image != nil %}
        
                                  {%
                                    render 'rimg',
                                    class: 'productitem--image-primary img-fluid lazyload',
                                    img: initial_image,
                                    size: '360x360'                                   
                                  %}
            {% endif %}
            
                      {% if second_image != nil %}
        
                                  {%
                                    render 'rimg',
                                    class: 'v-img1 img-fluid lazyload',
                                    img:second_image,
                                    size: '360x360'                                   
                                  %}
            {% endif %}
          </div>
    
          <div class="prd-main-div-info">
            <h3 class="b-headings"><span class="prd-main-div-title">{{product.title}} </span> <br> <span class="prd-main-div-price">{{product.price |money}}</span></h3>
         {% if product.vendor == 'Eyely' %}
                          <div class="prd-ship">
                            <i class="fa fa-truck" aria-hidden="true"></i><span>Usually Ships within 24 hours</span>
                          </div>
                           {% elsif product.vendor == 'happimess' %}
                          <div class="prd-ship">
                            <i class="fa fa-truck" aria-hidden="true"></i><span>Usually Ships within 24 hours</span>
                          </div>
                           {% elsif product.vendor == 'ovalair' %}
                          <div class="prd-ship">
                            <i class="fa fa-truck" aria-hidden="true"></i><span>Usually Ships within 24 hours</span>
                          </div>
                          {% endif %}
          </div>
        </div>
        </a>

        </div>
      </div>    
     
      {% endfor %}
    </div>
   {% comment %}
    <div class="load-more-btn">
      <a href="#" id="loadMore2">view more</a>
    </div>
{% endcomment %}
  </div>
</section>


{% schema %}
  {
    "name": "blog-product",
    "settings": [
	{
		"type":"textarea",
        "id":"title",
        "label":"Title",
		"default":"New to <span>The Shop</span>"
	},
	{
      "type":"text",
      "id":"subtitle",
      "label":"Subtitle",
      "default":"Our newest additions that we can't stop talking about"
      },
      {
      "type":"collection",
      "id":"featured_collection",
      "label":"Featured Collection"
      }
  ],
    "blocks":[
      {
        "type":"featured_product",
        "name":"featured Product",
        "settings":[
              {
                "type":"product",
                "id":"featured_product",
                "label":"Featured Product"
              }      
          ]
      }      
    ],
    "presets": [
        {
        "name": "Blog product",
        "category": "Blog"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
