<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>
<style>
  .header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }
  @media screen and (min-width: 1024px) {
    header-drawer {
      display: none;
    }
  }
  .menu-drawer-container {
    display: flex;
  }
  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
  }
  summary.list-menu__item {
    padding-right: 2.7rem;
  }
  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }
  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }
  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>
<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>
  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor" />
  </symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header class="header header--{{ section.settings.logo_position }} page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}">
    {%- if section.settings.menu != blank -%}
      <header-drawer data-breakpoint="tablet">
        <div class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
            <span class="menubar">
              {% render 'icon-hamburger' %}
            </span>
          </summary>
          
         
          
       
        </div>
        {%
  render 'site-mobile-nav',
        blocks: section.blocks,
        %}   
      </header-drawer>
    {%- endif -%}
    
            
    {%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search" />
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close" />
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input" 
                      id="Search-In-Modal-1"
                      type="search"
                      name="q"
                      value=""
                      placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false" 
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search" />
                      </svg>
                    </button> 
                  </div>
                  
                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%} 
              <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close" />
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>
    {%- endif -%}
    {%- if request.page_type == 'index' -%}
      <h1 class="header__heading">
    {%- endif -%}
        <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
          {%- if section.settings.logo != blank -%}
            {%- assign image_size = section.settings.logo_width | append: 'x' -%}
            <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              src="{{ section.settings.logo | img_url: image_size }}"
              loading="lazy"
              class="header__heading-logo"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>
    {%- if request.page_type == 'index' -%}
      </h1>
    {%- endif -%}

    {%- if section.settings.menu != blank -%}
      <nav class="header__inline-menu">
        <ul class="list-menu list-menu--inline" role="list">
          {%- for link in section.settings.menu.links -%}
            <li>
        
              {%- assign maintitle = link.title -%}
              {%- if link.links != blank -%}
                <div class="header__menu-item list-menu__item link focus-inset">
                  <a href="{{ link.url }}">
                    <span {%- if link.child_active %} class="header__active-menu-item"{% endif %} >{{ link.title | escape }}</span>
                    {% render 'icon-caret' %}
                  </a>
                </div>
                <ul class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list" tabindex="-1">
                 <div class="sub-wrapper">
                  <div class="row mx-auto">
                    {% for block in section.blocks %}
                      {% if block.type == "menu-links" and link.title == block.settings.txt %}
                        <div class="{{block.settings.size}} {% if block.settings.linklists contains '2' or  block.settings.linklists contains '3' %} mt-5 pt-2 {% endif %}">
                          {%- for clink in block.settings.linklists.links -%}
                            {%- if clink.links == blank -%}
                              <a href="{{ clink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if clink.current %} list-menu__item--active{% endif %} " {% if clink.current %} aria-current="page"{% endif %}>
                               <span> {{ clink.title | escape }}</span>
                              </a>
                            {%- else -%}
                                <div class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                                  {{ clink.title | escape }}
                                </div>
                                <ul class="header__submenu list-menu motion-reduce">
                                  {%- for grandchildlink in clink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        <span {% if grandchildlink.title == "Shop By Size" %} style="font-weight:bold;" {% endif %}>{{ grandchildlink.title | escape }}</span>
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                            {%- endif -%}
                          {% endfor %}
                        </div>
                      {% endif %}
                    {% endfor %}
                   
                    <div class="col px-1 inner-menu">
                      <div class="row mx-auto p-2">

                      {% if link.title == "Rugs" %}
                        <div class="col-6">
                          <div class="row">


                            {% if settings.rug1_mega_enable %}
                            <div class="{{ settings.rug1_mega_size1 }}">
                              
                              {% if settings.rug1_mega_image1 != blank and settings.rug1_mega_url1 != blank %}
                              <a href="{{ settings.rug1_mega_url1 }}" class="p-2">
                                <img class="w-100" src="{{ settings.rug1_mega_image1 | img_url : 'original' }}" height="auto" width="{{ settings.rug1_mega_image1.width }}" loading="lazy">
                              </a>
                              {% endif %}
                            
                            </div>
                          {% endif %}
                          {% if settings.rug2_mega_enable %}
                            <div class="{{ settings.rug1_mega_size2 }}">
                              
                              {% if settings.rug1_mega_image2 != blank and settings.rug1_mega_url2 != blank %}
                              <a href="{{ settings.rug1_mega_url2 }}" class="p-2">
                                <img class="w-100" src="{{ settings.rug1_mega_image2 | img_url : 'original' }}" height="auto" width="{{ settings.rug1_mega_image2.width }}" loading="lazy">
                              </a>
                              {% endif %}
                            
                            </div>
                          {% endif %}
                            {% if settings.rug3_mega_enable %}
                            <div class="{{ settings.rug1_mega_size3 }}">
                              
                              {% if settings.rug1_mega_image3 != blank and settings.rug1_mega_url3 != blank %}
                              <a href="{{ settings.rug1_mega_url3 }}" class="p-2">
                                <img class="w-100" src="{{ settings.rug1_mega_image3 | img_url : 'original' }}" height="auto" width="{{ settings.rug1_mega_image3.width }}" loading="lazy">
                              </a>
                              {% endif %}
                            
                            </div>
                          {% endif %}
    
                          {% if settings.rug4_mega_enable %}
                          <div class="{{ settings.rug1_mega_size4 }}" class="p-2">
                            
                            {% if settings.rug1_mega_image4 != blank and settings.rug1_mega_url4 != blank %}
                            <a href="{{ settings.rug1_mega_url4 }}">
                              <img class="w-100" src="{{ settings.rug1_mega_image4 | img_url : 'original' }}" height="auto" width="{{ settings.rug1_mega_image4.width }}" loading="lazy">
                            </a>
                            {% endif %}
                          
                          </div>
                        {% endif %}

                          </div>

                        </div>
                        <div class="col-6">
                          <div class="row">
                                  {% if settings.rug5_mega_enable %}
                                  <div class="{{ settings.rug1_mega_size5 }} px-0">
                                    
                                    {% if settings.rug1_mega_image5 != blank and settings.rug1_mega_url5 != blank %}
                                    <a href="{{ settings.rug1_mega_url5 }}" class="p-1">
                                      <img class="w-100" src="{{ settings.rug1_mega_image5 | img_url : 'original' }}" height="auto" width="{{ settings.rug1_mega_image5.width }}" loading="lazy">
                                    </a>
                                    {% endif %}
                                  
                                  </div>
                                {% endif %}
                              {% if settings.rug6_mega_enable %}
                                <div class="{{ settings.rug1_mega_size6 }} px-0">
                                  
                                  {% if settings.rug1_mega_image6 != blank and settings.rug1_mega_url6 != blank %}
                                  <a href="{{ settings.rug1_mega_url6 }}" class="p-1">
                                    <img class="w-100" src="{{ settings.rug1_mega_image6 | img_url : 'original' }}" height="auto" width="{{ settings.rug1_mega_image6.width }}" loading="lazy">
                                  </a>
                                  {% endif %}
                                </div>
                              {% endif %}
                              {% if settings.rug7_mega_enable %}
                              <div class="{{ settings.rug1_mega_size7 }} px-0">
                              
                              {% if settings.rug1_mega_image7 != blank and settings.rug1_mega_url7 != blank %}
                              <a href="{{ settings.rug1_mega_url7 }}" class="p-1">
                                <img class="w-100" src="{{ settings.rug1_mega_image7 | img_url : 'original' }}" height="auto" width="{{ settings.rug1_mega_image7.width }}" loading="lazy">
                              </a>
                              {% endif %}
                              </div>
                              {% endif %}
                              {% if settings.rug8_mega_enable %}
                                  <div class="{{ settings.rug1_mega_size8 }} px-0">
                                  
                                  {% if settings.rug1_mega_image8 != blank and settings.rug1_mega_url8 != blank %}
                                  <a href="{{ settings.rug1_mega_url8 }}" class="p-1">
                                    <img class="w-100 mt-3" src="{{ settings.rug1_mega_image8 | img_url : 'original' }}" height="auto" width="{{ settings.rug1_mega_image8.width }}" loading="lazy">
                                  </a>
                                  {% endif %}
                                  </div>
                              {% endif %}
                            {% if settings.rug9_mega_enable %}
                              <div class="{{ settings.rug1_mega_size9 }} px-0">
                              
                                  {% if settings.rug1_mega_image9 != blank and settings.rug1_mega_url8 != blank %}
                                  <a href="{{ settings.rug1_mega_url9 }}" class="p-1">
                                    <img class="w-100 mt-3" src="{{ settings.rug1_mega_image9 | img_url : 'original' }}" height="auto" width="{{ settings.rug1_mega_image9.width }}" loading="lazy">
                                  </a>
                                  {% endif %}
                              </div>
                            {% endif %}
                          </div>
                        </div>

              

              
              {% elsif link.title == "Chandeliers" %}

                  {% if settings.chandeliers1_mega_enable %}
                    <div class="{{ settings.chandeliers1_mega_size1 }}">
                      
                      {% if settings.chandeliers1_mega_image1 != blank and settings.chandeliers1_mega_url1 != blank %}
                        <a href="{{ settings.chandeliers1_mega_url1 }}" class="p-2">
                          <img class="w-100" src="{{ settings.chandeliers1_mega_image1 | img_url : 'original' }}" height="auto" width="{{ settings.chandeliers1_mega_image1.width }}" loading="lazy">
                        </a>
                      {% endif %}
                    
                    </div>
                  {% endif %}
                  {% if settings.chandeliers2_mega_enable %}
                  <div class="{{ settings.chandeliers1_mega_size2 }}">
                    
                    {% if settings.chandeliers1_mega_image2 != blank and settings.chandeliers1_mega_url2 != blank %}
                      <a href="{{ settings.chandeliers1_mega_url2 }}" class="p-2">
                        <img class="w-100" src="{{ settings.chandeliers1_mega_image2 | img_url : 'original' }}" height="auto" width="{{ settings.chandeliers1_mega_image2.width }}" loading="lazy">
                      </a>
                    {% endif %}
                  
                  </div>
                {% endif %}
                {% if settings.chandeliers3_mega_enable %}
                <div class="{{ settings.chandeliers1_mega_size3 }}">
                  
                  {% if settings.chandeliers1_mega_image3 != blank and settings.chandeliers1_mega_url3 != blank %}
                    <a href="{{ settings.chandeliers1_mega_url3 }}" class="p-2">
                      <img class="w-100" src="{{ settings.chandeliers1_mega_image3 | img_url : 'original' }}" height="auto" width="{{ settings.chandeliers1_mega_image3.width }}" loading="lazy">
                    </a>
                  {% endif %}
                
                </div>
              {% endif %}
              {% if settings.chandeliers4_mega_enable %}
                <div class="{{ settings.chandeliers1_mega_size4 }}">
                  
                  {% if settings.chandeliers1_mega_image4 != blank and settings.chandeliers1_mega_url4 != blank %}
                    <a href="{{ settings.chandeliers1_mega_url4 }}" class="p-2">
                      <img class="w-100" src="{{ settings.chandeliers1_mega_image4 | img_url : 'original' }}" height="auto" width="{{ settings.chandeliers1_mega_image4.width }}" loading="lazy">
                    </a>
                  {% endif %}
                
                </div>
              {% endif %}

              {% elsif link.title == "Ceiling Lights" %}

                  {% if settings.ceilinglights1_mega_enable %}
                  
                    <div class="{{ settings.ceilinglights1_mega_size1 }}">
                    {% if settings.ceilinglights1_title_pos1 == "Top" and settings.ceilinglights1_title1 != blank and settings.ceilinglights1_mega_url1 != blank %}
                      <h5 class="text-center"><a href="{{ settings.ceilinglights1_mega_url1 }}"  class="text-decoration-none">{{settings.ceilinglights1_title1  }}</a></h5>
                    {% endif %}
                      {% if settings.ceilinglights1_mega_image1 != blank and settings.ceilinglights1_mega_url1 != blank %}
                        <a href="{{ settings.ceilinglights1_mega_url1 }}" class="p-2">
                          <img class="w-100" src="{{ settings.ceilinglights1_mega_image1 | img_url : 'original' }}" height="auto" width="{{ settings.ceilinglights1_mega_image1.width }}" loading="lazy">
                        </a>
                      {% endif %}
                      {% if settings.ceilinglights1_title_pos1 == "Bottom" and settings.ceilinglights1_title1 != blank and settings.ceilinglights1_mega_url1 != blank %}
                      <h5 class="text-center"><a href="{{ settings.ceilinglights1_mega_url1 }}"  class="text-decoration-none">{{settings.ceilinglights1_title1  }}</a></h5>
                    {% endif %}
                    </div>
              
                  {% endif %}


                  {% if settings.ceilinglights2_mega_enable %}
                   
                    <div class="{{ settings.ceilinglights1_mega_size2 }}">
                      {% if settings.ceilinglights1_title_pos2 == "Top" and settings.ceilinglights1_title1 != blank and settings.ceilinglights1_mega_url2 != blank %}
                        <h5 class="text-center"><a href="{{ settings.ceilinglights1_mega_url2 }}"  class="text-decoration-none">{{settings.ceilinglights1_title2  }}</a></h5>
                      {% endif %}
                      {% if settings.ceilinglights1_mega_image2 != blank and settings.ceilinglights1_mega_url2 != blank %}
                        <a href="{{ settings.ceilinglights1_mega_url2 }}" class="p-2">
                          <img class="w-100" src="{{ settings.ceilinglights1_mega_image2 | img_url : 'original' }}" height="auto" width="{{ settings.ceilinglights1_mega_image2.width }}" loading="lazy">
                        </a>
                      {% endif %}
                        {% if settings.ceilinglights1_title_pos2 == "Bottom" and settings.ceilinglights1_title2 != blank and settings.ceilinglights1_mega_url2 != blank %}
                          <h5 class="text-center"><a href="{{ settings.ceilinglights1_mega_url2 }}"  class="text-decoration-none">{{settings.ceilinglights1_title2  }}</a></h5>
                        {% endif %}
                    </div>
              
                  {% endif %}
                  {% if settings.ceilinglights3_mega_enable %}
                   
                  <div class="{{ settings.ceilinglights1_mega_size3 }}">
                    {% if settings.ceilinglights1_title_pos3 == "Top" and settings.ceilinglights1_title3 != blank and settings.ceilinglights1_mega_url3 != blank %}
                      <h5 class="text-center"><a href="{{ settings.ceilinglights1_mega_url3 }}"  class="text-decoration-none">{{settings.ceilinglights1_title3  }}</a></h5>
                    {% endif %}
                    {% if settings.ceilinglights1_mega_image3 != blank and settings.ceilinglights1_mega_url3 != blank %}
                      <a href="{{ settings.ceilinglights1_mega_url3 }}" class="p-2">
                        <img class="w-100" src="{{ settings.ceilinglights1_mega_image3 | img_url : 'original' }}" height="auto" width="{{ settings.ceilinglights1_mega_image3.width }}" loading="lazy">
                      </a>
                    {% endif %}
                      {% if settings.ceilinglights1_title_pos3 == "Bottom" and settings.ceilinglights1_title3 != blank and settings.ceilinglights1_mega_url3 != blank %}
                        <h5 class="text-center"><a href="{{ settings.ceilinglights1_mega_url3 }}" class="text-decoration-none">{{settings.ceilinglights1_title3  }}</a></h5>
                      {% endif %}
                  </div>
            
                {% endif %}
                {% if settings.ceilinglights4_mega_enable %}
                   
                  <div class="{{ settings.ceilinglights1_mega_size4 }}">
                    {% if settings.ceilinglights1_title_pos4 == "Top" and settings.ceilinglights1_title4 != blank and settings.ceilinglights1_mega_url4 != blank %}
                      <h5 class="text-center"><a href="{{ settings.ceilinglights1_mega_url4 }}"  class="text-decoration-none">{{settings.ceilinglights1_title4  }}</a></h5>
                    {% endif %}
                    {% if settings.ceilinglights1_mega_image4 != blank and settings.ceilinglights1_mega_url4 != blank %}
                      <a href="{{ settings.ceilinglights1_mega_url4 }}" class="p-2">
                        <img class="w-100" src="{{ settings.ceilinglights1_mega_image4 | img_url : 'original' }}" height="auto" width="{{ settings.ceilinglights1_mega_image4.width }}" loading="lazy">
                      </a>
                    {% endif %}
                      {% if settings.ceilinglights1_title_pos4 == "Bottom" and settings.ceilinglights1_title4 != blank and settings.ceilinglights1_mega_url4 != blank %}
                        <h5 class="text-center"><a href="{{ settings.ceilinglights1_mega_url4 }}"  class="text-decoration-none">{{settings.ceilinglights1_title4  }}</a></h5>
                      {% endif %}
                  </div>
            
                {% endif %}

                {% if settings.ceilinglights5_mega_enable %}
                   
                  <div class="{{ settings.ceilinglights1_mega_size5 }}">
                    {% if settings.ceilinglights1_title_pos5 == "Top" and settings.ceilinglights1_title5 != blank and settings.ceilinglights1_mega_url5 != blank %}
                      <h5 class="text-center"><a href="{{ settings.ceilinglights1_mega_url5 }}"  class="text-decoration-none">{{settings.ceilinglights1_title5 }}</a></h5>
                    {% endif %}
                    {% if settings.ceilinglights1_mega_image5 != blank and settings.ceilinglights1_mega_url5 != blank %}
                      <a href="{{ settings.ceilinglights1_mega_url5 }}" class="p-2">
                        <img class="w-100" src="{{ settings.ceilinglights1_mega_image5 | img_url : 'original' }}" height="auto" width="{{ settings.ceilinglights1_mega_image5.width }}" loading="lazy">
                      </a>
                    {% endif %}
                      {% if settings.ceilinglights1_title_pos5 == "Bottom" and settings.ceilinglights1_title5 != blank and settings.ceilinglights1_mega_url5 != blank %}
                        <h5 class="text-center"><a href="{{ settings.ceilinglights1_mega_url5 }}"  class="text-decoration-none">{{settings.ceilinglights1_title5  }}</a></h5>
                      {% endif %}
                  </div>
            
                {% endif %}

                {% if settings.ceilinglights6_mega_enable %}
                   
                <div class="{{ settings.ceilinglights1_mega_size6 }}">
                  {% if settings.ceilinglights1_title_pos6 == "Top" and settings.ceilinglights1_title6 != blank and settings.ceilinglights1_mega_url6 != blank %}
                    <h5 class="text-center"><a href="{{ settings.ceilinglights1_mega_url6 }}"  class="text-decoration-none">{{settings.ceilinglights1_title6 }}</a></h5>
                  {% endif %}
                  {% if settings.ceilinglights1_mega_image6 != blank and settings.ceilinglights1_mega_url6 != blank %}
                    <a href="{{ settings.ceilinglights1_mega_url6 }}" class="p-2">
                      <img class="w-100" src="{{ settings.ceilinglights1_mega_image6 | img_url : 'original' }}" height="auto" width="{{ settings.ceilinglights1_mega_image6.width }}" loading="lazy">
                    </a>
                  {% endif %}
                    {% if settings.ceilinglights1_title_pos6 == "Bottom" and settings.ceilinglights1_title6 != blank and settings.ceilinglights1_mega_url6 != blank %}
                      <h5 class="text-center"><a href="{{ settings.ceilinglights1_mega_url6 }}"  class="text-decoration-none">{{settings.ceilinglights1_title6  }}</a></h5>
                    {% endif %}
                </div>
          
              {% endif %}

              {% if settings.ceilinglights7_mega_enable %}
                   
                <div class="{{ settings.ceilinglights1_mega_size7 }}">
                  {% if settings.ceilinglights1_title_pos7 == "Top" and settings.ceilinglights1_title7 != blank and settings.ceilinglights1_mega_url7 != blank %}
                    <h5 class="text-center"><a href="{{ settings.ceilinglights1_mega_url7 }}"  class="text-decoration-none">{{settings.ceilinglights1_title7 }}</a></h5>
                  {% endif %}
                  {% if settings.ceilinglights1_mega_image7 != blank and settings.ceilinglights1_mega_url7 != blank %}
                    <a href="{{ settings.ceilinglights1_mega_url7 }}" class="p-2">
                      <img class="w-100" src="{{ settings.ceilinglights1_mega_image7 | img_url : 'original' }}" height="auto" width="{{ settings.ceilinglights1_mega_image7.width }}" loading="lazy">
                    </a>
                  {% endif %}
                    {% if settings.ceilinglights1_title_pos7 == "Bottom" and settings.ceilinglights1_title7 != blank and settings.ceilinglights1_mega_url7 != blank %}
                      <h5 class="text-center"><a href="{{ settings.ceilinglights1_mega_url7 }}"  class="text-decoration-none">{{settings.ceilinglights1_title7  }}</a></h5>
                    {% endif %}
                </div>
        
              {% endif %}
              
              {% if settings.ceilinglights8_mega_enable %}
                   
                <div class="{{ settings.ceilinglights1_mega_size8 }}">
                  {% if settings.ceilinglights1_title_pos8 == "Top" and settings.ceilinglights1_title8 != blank and settings.ceilinglights1_mega_url8 != blank %}
                    <h5 class="text-center"><a href="{{ settings.ceilinglights1_mega_url8 }}"  class="text-decoration-none">{{settings.ceilinglights1_title8 }}</a></h5>
                  {% endif %}
                  {% if settings.ceilinglights1_mega_image8 != blank and settings.ceilinglights1_mega_url8 != blank %}
                    <a href="{{ settings.ceilinglights1_mega_url8 }}" class="p-2">
                      <img class="w-100" src="{{ settings.ceilinglights1_mega_image8 | img_url : 'original' }}" height="auto" width="{{ settings.ceilinglights1_mega_image8.width }}" loading="lazy">
                    </a>
                  {% endif %}
                    {% if settings.ceilinglights1_title_pos8 == "Bottom" and settings.ceilinglights1_title8 != blank and settings.ceilinglights1_mega_url8 != blank %}
                      <h5 class="text-center"><a href="{{ settings.ceilinglights1_mega_url8 }}"  class="text-decoration-none">{{settings.ceilinglights1_title8  }}</a></h5>
                    {% endif %}
                </div>
        
              {% endif %}
              {% elsif link.title == "Table Lamps" %}

              {% if settings.tablelamp1_mega_enable %}
                  
              <div class="{{ settings.tablelamp1_mega_size1 }}">
              {% if settings.tablelamp1_title_pos1 == "Top" and settings.tablelamp1_title1 != blank and settings.tablelamp1_mega_url1 != blank %}
                <h5 class="text-center"><a href="{{ settings.tablelamp1_mega_url1 }}"  class="text-decoration-none">{{settings.tablelamp1_title1  }}</a></h5>
              {% endif %}
                {% if settings.tablelamp1_mega_image1 != blank and settings.tablelamp1_mega_url1 != blank %}
                  <a href="{{ settings.tablelamp1_mega_url1 }}" class="p-2 text-center">
                    <img class="w-75 m-auto" src="{{ settings.tablelamp1_mega_image1 | img_url : 'original' }}" height="auto" width="{{ settings.tablelamp1_mega_image1.width }}" loading="lazy">
                  </a>
                {% endif %}
                {% if settings.tablelamp1_title_pos1 == "Bottom" and settings.tablelamp1_title1 != blank and settings.tablelamp1_mega_url1 != blank %}
                <h5 class="text-center"><a href="{{ settings.tablelamp1_mega_url1 }}"  class="text-decoration-none">{{settings.tablelamp1_title1  }}</a></h5>
              {% endif %}
              </div>
        
            {% endif %}


            {% if settings.tablelamp2_mega_enable %}
             
              <div class="{{ settings.tablelamp1_mega_size2 }}">
                {% if settings.tablelamp1_title_pos2 == "Top" and settings.tablelamp1_title1 != blank and settings.tablelamp1_mega_url2 != blank %}
                  <h5 class="text-center"><a href="{{ settings.tablelamp1_mega_url2 }}"  class="text-decoration-none">{{settings.tablelamp1_title2  }}</a></h5>
                {% endif %}
                {% if settings.tablelamp1_mega_image2 != blank and settings.tablelamp1_mega_url2 != blank %}
                  <a href="{{ settings.tablelamp1_mega_url2 }}" class="p-2 text-center">
                    <img class="w-75 m-auto" src="{{ settings.tablelamp1_mega_image2 | img_url : 'original' }}" height="auto" width="{{ settings.tablelamp1_mega_image2.width }}" loading="lazy">
                  </a>
                {% endif %}
                  {% if settings.tablelamp1_title_pos2 == "Bottom" and settings.tablelamp1_title2 != blank and settings.tablelamp1_mega_url2 != blank %}
                    <h5 class="text-center"><a href="{{ settings.tablelamp1_mega_url2 }}"  class="text-decoration-none">{{settings.tablelamp1_title2  }}</a></h5>
                  {% endif %}
              </div>
        
            {% endif %}
            {% if settings.tablelamp3_mega_enable %}
             
            <div class="{{ settings.tablelamp1_mega_size3 }}">
              {% if settings.tablelamp1_title_pos3 == "Top" and settings.tablelamp1_title3 != blank and settings.tablelamp1_mega_url3 != blank %}
                <h5 class="text-center"><a href="{{ settings.tablelamp1_mega_url3 }}"  class="text-decoration-none">{{settings.tablelamp1_title3  }}</a></h5>
              {% endif %}
              {% if settings.tablelamp1_mega_image3 != blank and settings.tablelamp1_mega_url3 != blank %}
                <a href="{{ settings.tablelamp1_mega_url3 }}" class="p-2 text-center">
                  <img class="w-75 m-auto" src="{{ settings.tablelamp1_mega_image3 | img_url : 'original' }}" height="auto" width="{{ settings.tablelamp1_mega_image3.width }}" loading="lazy">
                </a>
              {% endif %}
                {% if settings.tablelamp1_title_pos3 == "Bottom" and settings.tablelamp1_title3 != blank and settings.tablelamp1_mega_url3 != blank %}
                  <h5 class="text-center"><a href="{{ settings.tablelamp1_mega_url3 }}" class="text-decoration-none">{{settings.tablelamp1_title3  }}</a></h5>
                {% endif %}
            </div>
      
          {% endif %}
          {% if settings.tablelamp4_mega_enable %}
             
            <div class="{{ settings.tablelamp1_mega_size4 }}">
              {% if settings.tablelamp1_title_pos4 == "Top" and settings.tablelamp1_title4 != blank and settings.tablelamp1_mega_url4 != blank %}
                <h5 class="text-center"><a href="{{ settings.tablelamp1_mega_url4 }}"  class="text-decoration-none">{{settings.tablelamp1_title4  }}</a></h5>
              {% endif %}
              {% if settings.tablelamp1_mega_image4 != blank and settings.tablelamp1_mega_url4 != blank %}
                <a href="{{ settings.tablelamp1_mega_url4 }}" class="p-2 text-center">
                  <img class="w-75 m-auto" src="{{ settings.tablelamp1_mega_image4 | img_url : 'original' }}" height="auto" width="{{ settings.tablelamp1_mega_image4.width }}" loading="lazy">
                </a>
              {% endif %}
                {% if settings.tablelamp1_title_pos4 == "Bottom" and settings.tablelamp1_title4 != blank and settings.tablelamp1_mega_url4 != blank %}
                  <h5 class="text-center"><a href="{{ settings.tablelamp1_mega_url4 }}"  class="text-decoration-none">{{settings.tablelamp1_title4  }}</a></h5>
                {% endif %}
            </div>
      
          {% endif %}

          {% if settings.tablelamp5_mega_enable %}
             
            <div class="{{ settings.tablelamp1_mega_size5 }}">
              {% if settings.tablelamp1_title_pos5 == "Top" and settings.tablelamp1_title5 != blank and settings.tablelamp1_mega_url5 != blank %}
                <h5 class="text-center"><a href="{{ settings.tablelamp1_mega_url5 }}"  class="text-decoration-none">{{settings.tablelamp1_title5 }}</a></h5>
              {% endif %}
              {% if settings.tablelamp1_mega_image5 != blank and settings.tablelamp1_mega_url5 != blank %}
                <a href="{{ settings.tablelamp1_mega_url5 }}" class="p-2 text-center">
                  <img class="w-75 m-auto" src="{{ settings.tablelamp1_mega_image5 | img_url : 'original' }}" height="auto" width="{{ settings.tablelamp1_mega_image5.width }}" loading="lazy">
                </a>
              {% endif %}
                {% if settings.tablelamp1_title_pos5 == "Bottom" and settings.tablelamp1_title5 != blank and settings.tablelamp1_mega_url5 != blank %}
                  <h5 class="text-center"><a href="{{ settings.tablelamp1_mega_url5 }}"  class="text-decoration-none">{{settings.tablelamp1_title5  }}</a></h5>
                {% endif %}
            </div>
      
          {% endif %}

          {% if settings.tablelamp6_mega_enable %}
             
          <div class="{{ settings.tablelamp1_mega_size6 }}">
            {% if settings.tablelamp1_title_pos6 == "Top" and settings.tablelamp1_title6 != blank and settings.tablelamp1_mega_url6 != blank %}
              <h5 class="text-center"><a href="{{ settings.tablelamp1_mega_url6 }}"  class="text-decoration-none">{{settings.tablelamp1_title6 }}</a></h5>
            {% endif %}
            {% if settings.tablelamp1_mega_image6 != blank and settings.tablelamp1_mega_url6 != blank %}
              <a href="{{ settings.tablelamp1_mega_url6 }}" class="p-2 text-center">
                <img class="w-75 m-auto" src="{{ settings.tablelamp1_mega_image6 | img_url : 'original' }}" height="auto" width="{{ settings.tablelamp1_mega_image6.width }}" loading="lazy">
              </a>
            {% endif %}
              {% if settings.tablelamp1_title_pos6 == "Bottom" and settings.tablelamp1_title6 != blank and settings.tablelamp1_mega_url6 != blank %}
                <h5 class="text-center"><a href="{{ settings.tablelamp1_mega_url6 }}"  class="text-decoration-none">{{settings.tablelamp1_title6  }}</a></h5>
              {% endif %}
          </div>
    
        {% endif %}

        {% if settings.tablelamp7_mega_enable %}
             
          <div class="{{ settings.tablelamp1_mega_size7 }}">
            {% if settings.tablelamp1_title_pos7 == "Top" and settings.tablelamp1_title7 != blank and settings.tablelamp1_mega_url7 != blank %}
              <h5 class="text-center"><a href="{{ settings.tablelamp1_mega_url7 }}"  class="text-decoration-none">{{settings.tablelamp1_title7 }}</a></h5>
            {% endif %}
            {% if settings.tablelamp1_mega_image7 != blank and settings.tablelamp1_mega_url7 != blank %}
              <a href="{{ settings.tablelamp1_mega_url7 }}" class="p-2">
                <img class="w-100" src="{{ settings.tablelamp1_mega_image7 | img_url : 'original' }}" height="auto" width="{{ settings.tablelamp1_mega_image7.width }}" loading="lazy">
              </a>
            {% endif %}
              {% if settings.tablelamp1_title_pos7 == "Bottom" and settings.tablelamp1_title7 != blank and settings.tablelamp1_mega_url7 != blank %}
                <h5 class="text-center"><a href="{{ settings.tablelamp1_mega_url7 }}"  class="text-decoration-none">{{settings.tablelamp1_title7  }}</a></h5>
              {% endif %}
          </div>
  
        {% endif %}
        
        {% if settings.tablelamp8_mega_enable %}
             
          <div class="{{ settings.tablelamp1_mega_size8 }}">
            {% if settings.tablelamp1_title_pos8 == "Top" and settings.tablelamp1_title8 != blank and settings.tablelamp1_mega_url8 != blank %}
              <h5 class="text-center"><a href="{{ settings.tablelamp1_mega_url8 }}"  class="text-decoration-none">{{settings.tablelamp1_title8 }}</a></h5>
            {% endif %}
            {% if settings.tablelamp1_mega_image8 != blank and settings.tablelamp1_mega_url8 != blank %}
              <a href="{{ settings.tablelamp1_mega_url8 }}" class="p-2">
                <img class="w-100" src="{{ settings.tablelamp1_mega_image8 | img_url : 'original' }}" height="auto" width="{{ settings.tablelamp1_mega_image8.width }}" loading="lazy">
              </a>
            {% endif %}
              {% if settings.tablelamp1_title_pos8 == "Bottom" and settings.tablelamp1_title8 != blank and settings.tablelamp1_mega_url8 != blank %}
                <h5 class="text-center"><a href="{{ settings.tablelamp1_mega_url8 }}"  class="text-decoration-none">{{settings.tablelamp1_title8  }}</a></h5>
              {% endif %}
          </div>
  
        {% endif %}






              {% elsif link.title == "Floor Lamps" %}
              {% if settings.floorlamp1_mega_enable %}
                  
              <div class="{{ settings.floorlamp1_mega_size1 }}">
              {% if settings.floorlamp1_title_pos1 == "Top" and settings.floorlamp1_title1 != blank and settings.floorlamp1_mega_url1 != blank %}
                <h5 class="text-start"><a href="{{ settings.floorlamp1_mega_url1 }}"  class="text-decoration-none">{{settings.floorlamp1_title1  }}</a></h5>
              {% endif %}
                {% if settings.floorlamp1_mega_image1 != blank and settings.floorlamp1_mega_url1 != blank %}
                  <a href="{{ settings.floorlamp1_mega_url1 }}" class="p-2">
                    <img class="w-100" src="{{ settings.floorlamp1_mega_image1 | img_url : 'original' }}" height="auto" width="{{ settings.floorlamp1_mega_image1.width }}" loading="lazy">
                  </a>
                {% endif %}
                {% if settings.floorlamp1_title_pos1 == "Bottom" and settings.floorlamp1_title1 != blank and settings.floorlamp1_mega_url1 != blank %}
                <h5 class="text-center"><a href="{{ settings.floorlamp1_mega_url1 }}"  class="text-decoration-none">{{settings.floorlamp1_title1  }}</a></h5>
              {% endif %}
              </div>
        
            {% endif %}


            {% if settings.floorlamp2_mega_enable %}
             
              <div class="{{ settings.floorlamp1_mega_size2 }}">
                {% if settings.floorlamp1_title_pos2 == "Top" and settings.floorlamp1_title1 != blank and settings.floorlamp1_mega_url2 != blank %}
                  <h5 class="text-center"><a href="{{ settings.floorlamp1_mega_url2 }}"  class="text-decoration-none">{{settings.floorlamp1_title2  }}</a></h5>
                {% endif %}
                {% if settings.floorlamp1_mega_image2 != blank and settings.floorlamp1_mega_url2 != blank %}
                  <a href="{{ settings.floorlamp1_mega_url2 }}" class="p-2">
                    <img class="w-100" src="{{ settings.floorlamp1_mega_image2 | img_url : 'original' }}" height="auto" width="{{ settings.floorlamp1_mega_image2.width }}" loading="lazy">
                  </a>
                {% endif %}
                  {% if settings.floorlamp1_title_pos2 == "Bottom" and settings.floorlamp1_title2 != blank and settings.floorlamp1_mega_url2 != blank %}
                    <h5 class="text-center"><a href="{{ settings.floorlamp1_mega_url2 }}"  class="text-decoration-none">{{settings.floorlamp1_title2  }}</a></h5>
                  {% endif %}
              </div>
        
            {% endif %}
            {% if settings.floorlamp3_mega_enable %}
             
            <div class="{{ settings.floorlamp1_mega_size3 }}">
              {% if settings.floorlamp1_title_pos3 == "Top" and settings.floorlamp1_title3 != blank and settings.floorlamp1_mega_url3 != blank %}
                <h5 class="text-center"><a href="{{ settings.floorlamp1_mega_url3 }}"  class="text-decoration-none">{{settings.floorlamp1_title3  }}</a></h5>
              {% endif %}
              {% if settings.floorlamp1_mega_image3 != blank and settings.floorlamp1_mega_url3 != blank %}
                <a href="{{ settings.floorlamp1_mega_url3 }}" class="p-2">
                  <img class="w-100" src="{{ settings.floorlamp1_mega_image3 | img_url : 'original' }}" height="auto" width="{{ settings.floorlamp1_mega_image3.width }}" loading="lazy">
                </a>
              {% endif %}
                {% if settings.floorlamp1_title_pos3 == "Bottom" and settings.floorlamp1_title3 != blank and settings.floorlamp1_mega_url3 != blank %}
                  <h5 class="text-center"><a href="{{ settings.floorlamp1_mega_url3 }}" class="text-decoration-none">{{settings.floorlamp1_title3  }}</a></h5>
                {% endif %}
            </div>
      
          {% endif %}
              {% elsif link.title == "Wall Lights" %}


              {% if settings.walllight1_mega_enable %}
                  
              <div class="{{ settings.walllight1_mega_size1 }}">
              {% if settings.walllight1_title_pos1 == "Top" and settings.walllight1_title1 != blank and settings.walllight1_mega_url1 != blank %}
                <h5 class="text-center"><a href="{{ settings.walllight1_mega_url1 }}"  class="text-decoration-none">{{settings.walllight1_title1  }}</a></h5>
              {% endif %}
                {% if settings.walllight1_mega_image1 != blank and settings.walllight1_mega_url1 != blank %}
                  <a href="{{ settings.walllight1_mega_url1 }}" class="p-2">
                    <img class="w-100" src="{{ settings.walllight1_mega_image1 | img_url : 'original' }}" height="auto" width="{{ settings.walllight1_mega_image1.width }}" loading="lazy">
                  </a>
                {% endif %}
                {% if settings.walllight1_title_pos1 == "Bottom" and settings.walllight1_title1 != blank and settings.walllight1_mega_url1 != blank %}
                <h5 class="text-center"><a href="{{ settings.walllight1_mega_url1 }}"  class="text-decoration-none">{{settings.walllight1_title1  }}</a></h5>
              {% endif %}
              </div>
        
            {% endif %}


            {% if settings.walllight2_mega_enable %}
             
              <div class="{{ settings.walllight1_mega_size2 }}">
                {% if settings.walllight1_title_pos2 == "Top" and settings.walllight1_title1 != blank and settings.walllight1_mega_url2 != blank %}
                  <h5 class="text-center"><a href="{{ settings.walllight1_mega_url2 }}"  class="text-decoration-none">{{settings.walllight1_title2  }}</a></h5>
                {% endif %}
                {% if settings.walllight1_mega_image2 != blank and settings.walllight1_mega_url2 != blank %}
                  <a href="{{ settings.walllight1_mega_url2 }}" class="p-2">
                    <img class="w-100" src="{{ settings.walllight1_mega_image2 | img_url : 'original' }}" height="auto" width="{{ settings.walllight1_mega_image2.width }}" loading="lazy">
                  </a>
                {% endif %}
                  {% if settings.walllight1_title_pos2 == "Bottom" and settings.walllight1_title2 != blank and settings.walllight1_mega_url2 != blank %}
                    <h5 class="text-center"><a href="{{ settings.walllight1_mega_url2 }}"  class="text-decoration-none">{{settings.walllight1_title2  }}</a></h5>
                  {% endif %}
              </div>
        
            {% endif %}
            {% if settings.walllight3_mega_enable %}
             
            <div class="{{ settings.walllight1_mega_size3 }}">
              {% if settings.walllight1_title_pos3 == "Top" and settings.walllight1_title3 != blank and settings.walllight1_mega_url3 != blank %}
                <h5 class="text-center"><a href="{{ settings.walllight1_mega_url3 }}"  class="text-decoration-none">{{settings.walllight1_title3  }}</a></h5>
              {% endif %}
              {% if settings.walllight1_mega_image3 != blank and settings.walllight1_mega_url3 != blank %}
                <a href="{{ settings.walllight1_mega_url3 }}" class="p-2">
                  <img class="w-100" src="{{ settings.walllight1_mega_image3 | img_url : 'original' }}" height="auto" width="{{ settings.walllight1_mega_image3.width }}" loading="lazy">
                </a>
              {% endif %}
                {% if settings.walllight1_title_pos3 == "Bottom" and settings.walllight1_title3 != blank and settings.walllight1_mega_url3 != blank %}
                  <h5 class="text-center"><a href="{{ settings.walllight1_mega_url3 }}" class="text-decoration-none">{{settings.walllight1_title3  }}</a></h5>
                {% endif %}
            </div>
      
          {% endif %}
          {% if settings.walllight4_mega_enable %}
             
            <div class="{{ settings.walllight1_mega_size4 }}">
              {% if settings.walllight1_title_pos4 == "Top" and settings.walllight1_title4 != blank and settings.walllight1_mega_url4 != blank %}
                <h5 class="text-center"><a href="{{ settings.walllight1_mega_url4 }}"  class="text-decoration-none">{{settings.walllight1_title4  }}</a></h5>
              {% endif %}
              {% if settings.walllight1_mega_image4 != blank and settings.walllight1_mega_url4 != blank %}
                <a href="{{ settings.walllight1_mega_url4 }}" class="p-2">
                  <img class="w-100" src="{{ settings.walllight1_mega_image4 | img_url : 'original' }}" height="auto" width="{{ settings.walllight1_mega_image4.width }}" loading="lazy">
                </a>
              {% endif %}
                {% if settings.walllight1_title_pos4 == "Bottom" and settings.walllight1_title4 != blank and settings.walllight1_mega_url4 != blank %}
                  <h5 class="text-center"><a href="{{ settings.walllight1_mega_url4 }}"  class="text-decoration-none">{{settings.walllight1_title4  }}</a></h5>
                {% endif %}
            </div>
      
          {% endif %}

          {% if settings.walllight5_mega_enable %}
             
            <div class="{{ settings.walllight1_mega_size5 }}">
              {% if settings.walllight1_title_pos5 == "Top" and settings.walllight1_title5 != blank and settings.walllight1_mega_url5 != blank %}
                <h5 class="text-center"><a href="{{ settings.walllight1_mega_url5 }}"  class="text-decoration-none">{{settings.walllight1_title5 }}</a></h5>
              {% endif %}
              {% if settings.walllight1_mega_image5 != blank and settings.walllight1_mega_url5 != blank %}
                <a href="{{ settings.walllight1_mega_url5 }}" class="p-2">
                  <img class="w-100" src="{{ settings.walllight1_mega_image5 | img_url : 'original' }}" height="auto" width="{{ settings.walllight1_mega_image5.width }}" loading="lazy">
                </a>
              {% endif %}
                {% if settings.walllight1_title_pos5 == "Bottom" and settings.walllight1_title5 != blank and settings.walllight1_mega_url5 != blank %}
                  <h5 class="text-center"><a href="{{ settings.walllight1_mega_url5 }}"  class="text-decoration-none">{{settings.walllight1_title5  }}</a></h5>
                {% endif %}
            </div>
      
          {% endif %}

          {% if settings.walllight6_mega_enable %}
             
          <div class="{{ settings.walllight1_mega_size6 }}">
            {% if settings.walllight1_title_pos6 == "Top" and settings.walllight1_title6 != blank and settings.walllight1_mega_url6 != blank %}
              <h5 class="text-center"><a href="{{ settings.walllight1_mega_url6 }}"  class="text-decoration-none">{{settings.walllight1_title6 }}</a></h5>
            {% endif %}
            {% if settings.walllight1_mega_image6 != blank and settings.walllight1_mega_url6 != blank %}
              <a href="{{ settings.walllight1_mega_url6 }}" class="p-2">
                <img class="w-100" src="{{ settings.walllight1_mega_image6 | img_url : 'original' }}" height="auto" width="{{ settings.walllight1_mega_image6.width }}" loading="lazy">
              </a>
            {% endif %}
              {% if settings.walllight1_title_pos6 == "Bottom" and settings.walllight1_title6 != blank and settings.walllight1_mega_url6 != blank %}
                <h5 class="text-center"><a href="{{ settings.walllight1_mega_url6 }}"  class="text-decoration-none">{{settings.walllight1_title6  }}</a></h5>
              {% endif %}
          </div>
    
        {% endif %}

        {% if settings.walllight7_mega_enable %}
             
          <div class="{{ settings.walllight1_mega_size7 }}">
            {% if settings.walllight1_title_pos7 == "Top" and settings.walllight1_title7 != blank and settings.walllight1_mega_url7 != blank %}
              <h5 class="text-center"><a href="{{ settings.walllight1_mega_url7 }}"  class="text-decoration-none">{{settings.walllight1_title7 }}</a></h5>
            {% endif %}
            {% if settings.walllight1_mega_image7 != blank and settings.walllight1_mega_url7 != blank %}
              <a href="{{ settings.walllight1_mega_url7 }}" class="p-2">
                <img class="w-100" src="{{ settings.walllight1_mega_image7 | img_url : 'original' }}" height="auto" width="{{ settings.walllight1_mega_image7.width }}" loading="lazy">
              </a>
            {% endif %}
              {% if settings.walllight1_title_pos7 == "Bottom" and settings.walllight1_title7 != blank and settings.walllight1_mega_url7 != blank %}
                <h5 class="text-center"><a href="{{ settings.walllight1_mega_url7 }}"  class="text-decoration-none">{{settings.walllight1_title7  }}</a></h5>
              {% endif %}
          </div>
  
        {% endif %}
        
        {% if settings.walllight8_mega_enable %}
             
          <div class="{{ settings.walllight1_mega_size8 }}">
            {% if settings.walllight1_title_pos8 == "Top" and settings.walllight1_title8 != blank and settings.walllight1_mega_url8 != blank %}
              <h5 class="text-center"><a href="{{ settings.walllight1_mega_url8 }}"  class="text-decoration-none">{{settings.walllight1_title8 }}</a></h5>
            {% endif %}
            {% if settings.walllight1_mega_image8 != blank and settings.walllight1_mega_url8 != blank %}
              <a href="{{ settings.walllight1_mega_url8 }}" class="p-2">
                <img class="w-100" src="{{ settings.walllight1_mega_image8 | img_url : 'original' }}" height="auto" width="{{ settings.walllight1_mega_image8.width }}" loading="lazy">
              </a>
            {% endif %}
              {% if settings.walllight1_title_pos8 == "Bottom" and settings.walllight1_title8 != blank and settings.walllight1_mega_url8 != blank %}
                <h5 class="text-center"><a href="{{ settings.walllight1_mega_url8 }}"  class="text-decoration-none">{{settings.walllight1_title8  }}</a></h5>
              {% endif %}
          </div>
  
        {% endif %}


              {% endif %}


            </div>
                    </div>
                  </div>
                </div>
                </ul>
              {%- else -%}
                <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %} {% if link.title  contains 'Warehouse' %} style=" color:#b23c18;"{% endif %}>
                  <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </nav>  
    {%- endif -%}
        <div class="search-wrap-mobile search-tab">
            <form class="search-form-wrapper"  action="/search" method="get">
              <div class="search-mobile-form">
                <input class="form-field-input live-search-form-field" type="text" name="q" aria-label="Search" placeholder="What are you looking for?" autocomplete="off" data-live-search-input="">
                <button class="live-search-takeover-cancel" type="button" data-live-search-takeover-cancel="">
                  Cancel
                </button>
                <button class="live-search-button mdc-ripple-surface mdc-ripple-upgraded" type="submit" aria-label="Search" data-live-search-submit="">
                  <span class="search-icon search-icon--inactive">
                    <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21">
                      <path fill="currentColor" fill-rule="evenodd" d="M12.514 14.906a8.264 8.264 0 0 1-4.322 1.21C3.668 16.116 0 12.513 0 8.07 0 3.626 3.668.023 8.192.023c4.525 0 8.193 3.603 8.193 8.047 0 2.033-.769 3.89-2.035 5.307l4.999 5.552-1.775 1.597-5.06-5.62zm-4.322-.843c3.37 0 6.102-2.684 6.102-5.993 0-3.31-2.732-5.994-6.102-5.994S2.09 4.76 2.09 8.07c0 3.31 2.732 5.993 6.102 5.993z"></path>
                    </svg>
                  </span>
                </button>
              </div>
              <ul class="box-results" style="position:absolute;left:0;top:34px;display:none"></ul>
            </form>

            {% render 'search-perform' %}
          </div>
    <div class="header__icons">
      <a href="/a/wishlist" class="swym-wishlist icon-wishlist">
        <img src="https://cdn.shopify.com/s/files/1/0553/3053/7657/files/favorites.png?v=1630070978" loading="lazy" height="26" width="28">   
      </a> 
      {% comment %}
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%} 
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input" 
                      id="Search-In-Modal"
                      type="search"
                      name="q"
                      value=""
                      placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false" 
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button> 
                  </div>
                  
                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
              <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>
    {% endcomment %}
      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %} icon-account">
          <img src="https://cdn.shopify.com/s/files/1/0553/3053/7657/files/login.png?v=1630070978" loading="lazy" height="26" width="28">
        </a>
      {%- endif -%}
        
       <a href="javascript:void(0)" class="icon-search"> <img src="https://cdn.shopify.com/s/files/1/0553/3053/7657/files/search.png?v=1630070978" ></a>       
              
      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
       {% comment %} {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
       {% endcomment %}
       <img src="https://cdn.shopify.com/s/files/1/0553/3053/7657/files/cart.png?v=1630070978"  loading="lazy" height="26" width="28">
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
    <div class="search-wrap">
      <form class="search-form-wrapper"  action="/search" method="get">
        <input class="form-field-input live-search-form-field" type="text" name="q" aria-label="Search" placeholder="What are you looking for?" autocomplete="off" data-live-search-input="">
        <button class="live-search-button mdc-ripple-surface mdc-ripple-upgraded" type="submit" aria-label="Search" data-live-search-submit="">
          <span class="search-icon search-icon--inactive">
            <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21">
          <path fill="currentColor" fill-rule="evenodd" d="M12.514 14.906a8.264 8.264 0 0 1-4.322 1.21C3.668 16.116 0 12.513 0 8.07 0 3.626 3.668.023 8.192.023c4.525 0 8.193 3.603 8.193 8.047 0 2.033-.769 3.89-2.035 5.307l4.999 5.552-1.775 1.597-5.06-5.62zm-4.322-.843c3.37 0 6.102-2.684 6.102-5.993 0-3.31-2.732-5.994-6.102-5.994S2.09 4.76 2.09 8.07c0 3.31 2.732 5.993 6.102 5.993z"></path>
          </svg>
          </span>
        </button>
        <ul class="box-results" style="position:absolute;left:0;top:34px;display:none"></ul>
      </form>
      
      {% render 'search-perform' %}
    </div>
         
           
  </header>

          <div class="search-wrap-mobile search-mob">
            <form class="search-form-wrapper"  action="/search" method="get">
              <div class="search-mobile-form">
                <input class="form-field-input live-search-form-field" type="text" name="q" aria-label="Search" placeholder="What are you looking for?" autocomplete="off" data-live-search-input="">
                <button class="live-search-takeover-cancel" type="button" data-live-search-takeover-cancel="">
                  Cancel
                </button>
                <button class="live-search-button mdc-ripple-surface mdc-ripple-upgraded" type="submit" aria-label="Search" data-live-search-submit="">
                  <span class="search-icon search-icon--inactive">
                    <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21">
                      <path fill="currentColor" fill-rule="evenodd" d="M12.514 14.906a8.264 8.264 0 0 1-4.322 1.21C3.668 16.116 0 12.513 0 8.07 0 3.626 3.668.023 8.192.023c4.525 0 8.193 3.603 8.193 8.047 0 2.033-.769 3.89-2.035 5.307l4.999 5.552-1.775 1.597-5.06-5.62zm-4.322-.843c3.37 0 6.102-2.684 6.102-5.993 0-3.31-2.732-5.994-6.102-5.994S2.09 4.76 2.09 8.07c0 3.31 2.732 5.993 6.102 5.993z"></path>
                    </svg>
                  </span>
                </button>
              </div>
              <ul class="box-results" style="position:absolute;left:0;top:34px;display:none"></ul>
            </form>

            {% render 'search-perform' %}
          </div>

          
          </{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>
{%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}

       
        
        <script>
          
          $('.icon-search').click(function(){
            $('.search-mob').toggleClass('search-mob-show');
          });

          $('.live-search-form-field').click(function(){
            $('.search-mob').addClass('search-wrap-mobile-active');
            $('.main-top').addClass('scroll-locked');
          });

          $('.live-search-takeover-cancel').click(function(){
            $('.search-mob').removeClass('search-wrap-mobile-active');
            $('.main-top').removeClass('scroll-locked');
          });

          $('.menubar').click(function(){
            $('.mobile-nav-overlay').addClass('mobile-nav-overlay-active');
            $('.site-mobile-nav').addClass('site-mobile-nav-active');
            $('.main-top').addClass('scroll-locked');
          });

          $('.mobile-nav-close').click(function(){
            $('.site-mobile-nav').removeClass('site-mobile-nav-active');
            $('.mobile-nav-overlay').removeClass('mobile-nav-overlay-active');
             $('.main-top').removeClass('scroll-locked');
          });
          

          $(".menu-item-has-children a").on('click', function(e){
            //e.preventDefault();
            //e.stopPropagation();
            var eleHeight = $(this).next().height();
            $("#mobile-main-menu").css('height', eleHeight+'px');
            $(this).closest('.slider').css('transform','translateX(-100%)');
            $(this).next().show();
            $(".controls .slide-menu-control").css('visibility', 'visible');
          });
          $(".slide-menu-control.back-btn").on('click', function(){
            $("#mobile-main-menu").css('height', '');
            $('.slider').css('transform','translateX(0%)');
            $(".sub-menu").hide();
            $(this).css('visibility', 'hidden');
          });
        </script>
        

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }
    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;
      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);
      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }


      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "max_blocks": 100,
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.header.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.header.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.header.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.header.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.header.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.header.settings.color_scheme.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
       {
      "id": "mobile_menu",
      "type": "link_list",
      "label": "Mobile menu"
    },
	{
      "id": "mobile_sale_text",
      "type": "text",
      "label": "Mobile Sale Text"
    },
	{
      "id": "mobile_sale_url",
      "type": "url",
      "label": "Mobile Sale Text Link"
    },
      {
	"type":"header",
	"content":"Mobile Featured Link-images"
	},
	{
"type":"image_picker",
"id":"link_image1",
"label":"Link Image 1"
	},
	{
"type":"url",
"label":"Link For Image1",
"id":"link1"
},
	{
"type":"image_picker",
"id":"link_image2",
"label":"Link Image 2"
	},
	{
"type":"url",
"label":"Link For Image2",
"id":"link2"
},
	{
"type":"image_picker",
"id":"link_image3",
"label":"Link Image 3"
	},
	{
"type":"url",
"label":"Link For Image3",
"id":"link3"
}
,
	{
"type":"image_picker",
"id":"link_image4",
"label":"Link Image 4"
	},
	{
"type":"url",
"label":"Link For Image4",
"id":"link4"
}
  ],
"blocks": [
    {
      "type": "menu-links",
      "name": "Megamenu Linklist",
      "settings": [
        {
          "type": "text",
          "id": "txt",
          "label": "Handle"
        },
        {
          "id" : "size",
          "label" : "Size",
          "type": "select", 
          "options": [
            {
              "value": "col-2",
              "label": "Col 2"
            }, 
            {
              "value": "col-3",
              "label": "Col 3"
            },
            {
              "value": "col-4",
              "label": "Col 4"
            },  
            {
              "value": "col-5",
              "label": "Col 5"
            },
            {
              "value": "col-6",
              "label": "Col 6"
            }
          ],
          "default": "col-2"
        },
        {
          "type": "link_list",
          "id": "linklists",
          "label": "Link Lists"
        }
      ]
      },
      {
        "type": "menu-single",
        "name": "Megamenu Single Image",
        "settings": [
          {
            "type": "text",
            "id": "txt",
            "label": "Handle"
          },
          {
            "id" : "size",
            "label" : "Size",
            "type": "select", 
            "options": [
              {
                "value": "col-2",
                "label": "Col 2"
              }, 
              {
                "value": "col-3",
                "label": "Col 3"
              },
              {
                "value": "col-4",
                "label": "Col 4"
              },  
              {
                "value": "col-5",
                "label": "Col 5"
              },
              {
                "value": "col-6",
                "label": "Col 6"
              },
              {
                "value": "col-7",
                "label": "Col 7"
              },
              {
                "value": "col-8",
                "label": "Col 8"
              },
              {
                "value": "col-9",
                "label": "Col 9"
              },
              {
                "value": "col-10",
                "label": "Col 10"
              },
              {
                "value": "col-11",
                "label": "Col 11"
              },
              {
                "value": "col-12",
                "label": "Col 12"
              }
            ],
            "default": "col-2"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type" : "url",
            "id" : "featured_link",
            "label" : "Featured Link"
          },
          {
            "type" : "text",
            "id": "title",
            "label" : "Title"
          },
          {
            "id" : "title-position",
            "label" : "Title Position",
            "type": "select", 
            "options": [
              {
                "value": "top",
                "label": "top"
              }, 
              {
                "value": "bottom",
                "label": "bottom"
              }
            ],
            "default" : "top"
          },
          {
            "id" : "title-align",
            "label" : "Title Alignment",
            "type": "select", 
            "options": [
              {
                "value": "text-left",
                "label": "Left"
              }, 
              {
                "value": "text-center",
                "label": "Center"
              },
              {
                "value": "text-right",
                "label": "Right"
              }
            ],
            "default" : "text-center"
          },
          {
            "id" : "title-size",
            "label" : "Title Size",
            "type": "number", 
            "info":"Provide Font Size(px)"
          }
        ]
      },
      {
        "type": "menu-multi",
        "name": "Megamenu Two Image",
        "settings": [
          {
            "type": "text",
            "id": "txt",
            "label": "Handle"
          },
          {
            "id" : "size",
            "label" : "Size",
            "type": "select", 
            "options": [
              {
                "value": "col-2",
                "label": "Col 2"
              }, 
              {
                "value": "col-3",
                "label": "Col 3"
              },
              {
                "value": "col-4",
                "label": "Col 4"
              },  
              {
                "value": "col-5",
                "label": "Col 5"
              },
              {
                "value": "col-6",
                "label": "Col 6"
              },
              {
                "value": "col-7",
                "label": "Col 7"
              },
              {
                "value": "col-8",
                "label": "Col 8"
              },
              {
                "value": "col-9",
                "label": "Col 9"
              },
              {
                "value": "col-10",
                "label": "Col 10"
              },
              {
                "value": "col-11",
                "label": "Col 11"
              },
              {
                "value": "col-12",
                "label": "Col 12"
              }
            ],
            "default": "col-2"
          },
          {
            "type": "image_picker",
            "id": "img-1",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "img-2",
            "label": "Image"
          },
          {
            "type" : "url",
            "id" : "featured_link",
            "label" : "Featured Link"
          },
          {
            "type" : "text",
            "id": "title",
            "label" : "Title"
          },
          {
            "id" : "title-position",
            "label" : "Title Position",
            "type": "select", 
            "options": [
              {
                "value": "top",
                "label": "top"
              }, 
              {
                "value": "bottom",
                "label": "bottom"
              }
            ],
            "default" : "top"
          },
          {
            "id" : "title-align",
            "label" : "Title Alignment",
            "type": "select", 
            "options": [
              {
                "value": "text-left",
                "label": "Left"
              }, 
              {
                "value": "text-center",
                "label": "Center"
              },
              {
                "value": "text-right",
                "label": "Right"
              }
            ],
            "default" : "text-center"
          },
          {
            "id" : "title-size",
            "label" : "Title Size",
            "type": "number", 
            "info":"Provide Font Size(px)"
          }
        ]
      },
       {
      "type": "mobile_menu_bg",
      "name": "Mobile Menu Image",
      "settings": [
		{
		  "id": "menu_main_label",
		  "type": "text",
		  "label": "Main Navigation Trigger",
		  "info": "Add the menu item that you want to turn into a mega-nav."
		},
        {
		  "id": "menu_main_image",
		  "type": "image_picker",
		  "label": "Main Navigation Image"
		}
	  ]
	}

  ]
}
{% endschema %}
