

<div class="collection-grid">
    <div class="container">
        <div class="grid-wrap">
            {% for block in section.blocks %}
                {% if block.type == "featured_box" and block.settings.featured_image != blank and block.settings.featured_url != blank %}
                      {% if block.settings.prod != blank %}
                      {% assign product = all_products[block.settings.prod] %}
                      {% else %}
                      {% assign product = all_products[section.settings.prod] %}
                      {% endif %}
          {% assign rimg = product.featured_image.position %}
            {% assign rimg_minus = rimg %}
            {% assign pos = product.featured_image.position | plus:2 %}
            {% assign second_image = product.images[rimg_minus].src %}      
          				
          			<div class="unique-sec-img {% if forloop.first %} grid_join {% endif %}">
                    <a href="{{ block.settings.featured_url }}" class="img_wrap"> 
                            {% if block.settings.title_per != blank %}
                            <span class="per_off">{{block.settings.title_per }}</span>
                      {% elsif section.settings.discount_percentage != blank %}
                      <span class="per_off">{{section.settings.discount_percentage }}</span>
                            {% endif %}
                      {% if second_image != blank %}
                            {% if forloop.first %}
                        {%
                                        render 'rimg',
                                        class: 'img-fluid',
                                        img: second_image ,
                                        size: '500x500'                                   
                                    %}
                             {% else %} 
                                {%
                                        render 'rimg',
                                        class: 'img-fluid',
                                        img: second_image ,
                                        size: '300x300'                                   
                                    %}
                            {% endif %}  
                      {% else %}
                      {% if forloop.first %}
                          {%
                                        render 'rimg',
                                        class: 'img-fluid',
                                        img: block.settings.featured_image ,
                                        size: '500x500'                                   
                                    %}
                             {% else %} 
                                 {%
                                        render 'rimg',
                                        class: 'img-fluid',
                                        img: block.settings.featured_image ,
                                        size: '300x300'                                   
                                    %}
                            {% endif %}  
                      {% endif %}
                    </a>  
                    <div class="pt-3">
                        <h6 class="my-0 text-center">
                            <a href="{{ block.settings.featured_url }}">{{ block.settings.title }}</a>
                        </h6>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{{ 'section-index-collection-grid.css' | asset_url | stylesheet_tag }}

{% schema %}
  {
    "name": "Index Collection Grid",
    "settings": [
{
    "type":"product",
    "id":"prod",
    "label":"Product"
  },
  {
    "id": "discount_percentage",
    "type": "text",
    "label": "Discount"
  }
], 
    "tag": "section",
    "class": "spaced-section spaced-section--full-width",
    "blocks":[
        {
        "type" : "featured_box",
        "name" : "Featured Box",
        "settings" : [
					{
                        "type":"product",
                        "id":"prod",
                        "label":"Product"
                    },
					{
                        "type" : "image_picker",
                        "id" : "featured_image",
                        "label" : "Featured Image"
                    },
                    {
                        "type" : "url",
                        "id" : "featured_url",
                        "label" : "Featured Url"
                    },
                    {
                        "type" : "text",
                        "id" : "title",
                        "label" : "Title",
                        "default" : "Lights"
                    },
                    {
                        "type" : "text",
                        "id" : "title_per",
                        "label" : "Title For Percentage Off",
                        "default" : "70%"
                    }
            ]
        }
    ],
	"presets" : [
      {
        "name" : "Index Collection Grid",
        "category" : "Index"
      }
    ]
  }
{% endschema %}
