{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}


{% assign featuredBlogs = 'home-care-tips,lighting,rugs' | split:',' %}
{% assign featuredArticles = false %}
{% for featuredBlog in featuredBlogs %}
	{% if blogs[featuredBlog].articles %}
		{% if featuredArticles %}
			{% assign featuredArticles = featuredArticles | concat:blogs[featuredBlog].articles %}
		{% else %}
			{% assign featuredArticles = blogs[featuredBlog].articles %}
		{% endif %}
	{% endif %}
{% endfor %}
{% if featuredArticles %}
	{% assign featuredArticles = featuredArticles | sort:'updated_at' | reverse %}
{% endif %}
<section class="blogs-page" data-template="{{ template }}">
  <div class="container">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-12 col-12 blog-order">
        <div class="blog-show blog-page-b-show">
          <h3 class="b-Recipes">In The Shop</h3>
        {% for block in section.blocks %}
        {% if block.type == "featured_product" and block.settings.enable and block.settings.fproduct != blank %}
        {% assign fproduct= all_products[block.settings.fproduct] %}
		
        <div class="blog-product">
          <div class="prd-img">
            <a href="{{fproduct.url}}">
              {% if block.settings.featured_image != blank %}
              <img src="{{block.settings.featured_image |img_url:'original'}}" class="img-fluid">
              {% elsif fproduct.featured_image != blank %}
              <img src="{{fproduct.featured_image |img_url:'original'}}" class="img-fluid">
              {% endif %}
              {% if block.settings.badge_title != blank %}
              <div class="ribbon ribbon--left">
                <span class="ribbon-text">{{block.settings.badge_title}}</span>
              </div>
              {% endif %}
            </a>
          </div>
          <div class="prd-info">
            <h2 class="prd--title b-headings"><a href="{{fproduct.url}}">{{fproduct.title|strip_html|truncate:30}}</a></h2>
            {% if block.settings.short_info != blank %}<p class="prd-des">{{block.settings.short_info}}</p>{% endif %}
            {% if block.settings.enable_link %} <a href="{{fproduct.url}}" class="shop-now-prd">{{block.settings.link_label}}<i class="fa fa-angle-right"></i></a>{% endif %}
          </div>
        </div>
       
        {% endif %}
        {% endfor %}
           </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-12 col-12 px-lg-0">
      {% if featuredArticles %}
        {%- for article in featuredArticles  limit: 1 -%}
        <div class="blog-show blog-page-b-show">
          <h3 class="b-Recipes">Popular Blog Post</h3>
          {%- if article.image  != blank -%}
          <div class="blog-img">
            <a href="{{article.url}}"><img src="{{article.image | img_url:'master'}}" class="img-fluid"></a>
          </div>
          {%- endif -%}
          <div class="main-blog-detail">

            
            <div >
              {%- for tag in article.tags -%}
              <div class="tag mx-2">
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
              </div>
              {%- endfor -%}
            </div>

            <h2 class="b-headings"><a href="{{ article.url }}">{{ article.title }}</a></h2>
            {%- if article.excerpt.size > 0 -%}
            <div> {{ article.excerpt }}</div>
            {%- else -%}
            <div>{{ article.content | strip_html | truncate: 50 }}</div>
            {%- endif -%}
          </div>
        </div>
        {% endfor %} 
     {% endif %}
         </div>
      <div class="col-xl-3 col-lg-3 blog1-order col-md-12 col-12">
        <div class="blog-page-b-show">
          {% if section.settings.latest_article != blank %}
          <h3 class="b-Recipes">{{section.settings.latest_article}}</h3>
          {% endif %}
          <div class="row">
            {%- if  featuredArticles -%}
            {%- for article in featuredArticles  limit: 3 offset:1 -%}
            {% if article.image != blank %}
            <div class="col-xl-12 col-md-4 col-lg-12 col-12">
              <div class="b-div">
                <div class="b-img">
                  <a href="{{article.url}}"><img src="{{article.image | img_url:'original'}}" class="img-fluid"></a>
                </div>
                <div class="b-name">
                  <h2 class="b-headings"><a href="{{article.url}}">{{ article.title |strip_html|truncate:40 }}</a></h2>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% comment %}
<section class="blogs-page">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-12 col-12 blog-order">
        <!--         <div class="blog-product">
<div class="prd-img">
<a href="#"><img src="https://cdn.shopify.com/s/files/1/0553/3053/7657/files/ezgif.com-gif-maker_86.jpg?v=1625829044">
<div class="ribbon ribbon--left">
<span class="ribbon-text">in the shop</span>
</div>
</a>
</div>
<div class="prd-info">
<h2 class="prd--title"><a href="#">A New Spin on Laundry Day</a></h2>
<p class="prd-des">Our 100% wool dryer balls cut down on dryer time & more.</p>
<a href="#" class="shop-now-prd">shop now<i class="fa fa-angle-right"></i></a>
</div>
</div>
<div class="blog-product">
<div class="prd-img">
<a href="#"><img src="https://cdn.shopify.com/s/files/1/0553/3053/7657/files/ezgif.com-gif-maker_87.jpg?v=1625890223">
<div class="ribbon ribbon--left">
<span class="ribbon-text">in the shop</span>
</div>
</a>
</div>
<div class="prd-info">
<h2 class="prd--title"><a href="#">Double Decker</a></h2>
<p class="prd-des">This cooler can hold 4 bottles of wine down below—& more up top.</p>
<a href="#" class="shop-now-prd">shop now<i class="fa fa-angle-right"></i></a>
</div>
</div> -->
        {% for block in section.blocks %}
        {% if block.type == "featured_product" and block.settings.enable and block.settings.fproduct != blank %}
        {% assign fproduct= all_products[block.settings.fproduct] %}

        <div class="blog-product">
          <div class="prd-img">
            <a href="{{fproduct.url}}">
              {% if block.settings.featured_image != blank %}
              <img src="{{block.settings.featured_image |img_url:'original'}}" class="img-fluid">
              {% elsif fproduct.featured_image != blank %}
              <img src="{{fproduct.featured_image |img_url:'original'}}" class="img-fluid">
              {% endif %}
              {% if block.settings.badge_title != blank %}
              <div class="ribbon ribbon--left">
                <span class="ribbon-text">{{block.settings.badge_title}}</span>
              </div>
              {% endif %}
            </a>
          </div>
          <div class="prd-info">
            <h2 class="prd--title b-headings"><a href="{{fproduct.url}}">{{fproduct.title}}</a></h2>
            {% if block.settings.short_info != blank %}<p class="prd-des">{{block.settings.short_info}}</p>{% endif %}
            {% if block.settings.enable_link %} <a href="{{fproduct.url}}" class="shop-now-prd">{{block.settings.link_label}}<i class="fa fa-angle-right"></i></a>{% endif %}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="col-xl-7 col-lg-7 col-md-12 col-12">
        {% for block in section.blocks limit:1 %}
        {% if block.settings.farticle != blank and block.type == "featured_article" %}
        {% assign article = articles[block.settings.farticle]%}
        <div class="blog-show">
          {%- if article.image  != blank -%}
          <div class="blog-img">
            <img src="{{article.image | img_url:"original"}}" class="img-fluid">
          </div>
          {%- endif -%}
          <div class="main-blog-detail">

            {%- if article.tags.size > 0 -%}
            <div >
              {%- for tag in article.tags -%}
              <div class="tag mx-2">
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
              </div>
              {%- endfor -%}
            </div>
            {%- endif -%}

            <h2 class="b-headings"><a href="{{ article.url }}">{{ article.title }}</a></h2>
            {%- if article.excerpt.size > 0 -%}
            <p> {{ article.excerpt }}</p>
            {%- else -%}
            <p>{{ article.content | strip_html | truncate: 150 }}</p>
            {%- endif -%}
          </div>
        </div>
        {% endif %}
        {% endfor %}

        <!--         <div class="blog-show">
<div class="blog-img">
<img src="https://cdn.shopify.com/s/files/1/0553/3053/7657/files/ezgif.com-gif-maker_88.jpg?v=1625890379">
</div>
<div class="main-blog-detail">
<div class="tag">
<a href="#">Punch</a>
</div>
<h2><a href="#">Our All-Time Favorite, Thirst-Quenching, Crowd-Pleasing Punch Recipes</a></h2>
<p>Fruity, fizzy, and fun—what's not to love? </p>
</div>
</div> -->
      </div> 
      <div class="col-xl-2 col-lg-2 blog1-order col-md-12 col-12">
        <div class="blog-page-b-show">
          {% if section.settings.latest_article != blank %}
          <h3 class="b-Recipes">{{section.settings.latest_article}}</h3>
          {% endif %}
          <div class="row">
            {% for block in section.blocks limit:3 offset:1 %}
            {% if block.settings.farticle != blank and block.type == "featured_article" %}
            {% assign article = articles[block.settings.farticle]%}
            {% if article.image != blank %}

            <div class="col-xl-12 col-md-4 col-12">
              <div class="b-div">
                <div class="b-img">
                  <a href="{{article.url}}"> <img src="{{article.image | img_url:'original'}}" class="img-fluid"></a>
                </div>
                <div class="b-name">
                  <h2 class="b-headings"><a href="{{article.url}}">{{ article.title |strip_html|truncate:20 }}</a></h2>
                </div>
              </div>
            </div>
            {% endif %}

            {% endif %}
            {% endfor %}


            {%- for article in blog.articles limit: 3 offset:1 -%}
            {% endfor %}
            <div class="b-div">
              <div class="b-img">
                <img src="https://cdn.shopify.com/s/files/1/0553/3053/7657/files/ezgif.com-gif-maker_89.jpg?v=1625892071">
              </div>
              <div class="b-name">
                <h2 class="b-headings"><a href="#">Gochugaru-Parmesan Biscuits</a></h2>
              </div>
            </div>
            <div class="b-div">
              <div class="b-img">
                <img src="https://cdn.shopify.com/s/files/1/0553/3053/7657/files/ezgif.com-gif-maker_90.jpg?v=1625894040">
              </div>
              <div class="b-name">
                <h2 class="b-headings"><a href="#">Eggplant Confit</a></h2>
              </div>
            </div>
            <div class="b-div">
              <div class="b-img">
                <img src="https://cdn.shopify.com/s/files/1/0553/3053/7657/files/ezgif.com-gif-maker_91.jpg?v=1625894114">
              </div>
              <div class="b-name last-after">
                <h2 class="b-headings"><a href="#">Black Sesame Plum Cake</a></h2>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endcomment %}
{% schema %}
{
"name": "Blog",
"settings": [
{
"type":"text",
"id":"latest_article",
"label":"Latest Article Title",
"default":"Latest Article"
}
],
"blocks":[
{
"type":"featured_product",
"name":"Featured Product",
"settings":[
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type":"product",
"id":"fproduct",
"label":"Featured Product"
},
{
"type":"image_picker",
"id":"featured_image",
"label":"Featured Image"
},
{
"type":"text",
"id":"badge_title",
"label":"Badge Title",
"default":"in the shop"
},
{
"type":"text",
"id":"short_info",
"label":"Short Info"
},
{
"type":"checkbox",
"id":"enable_link",
"label":"Enable Link",
"default":true
},
{
"type":"text",
"id":"link_label",
"label":"Link Label",
"default":"Shop Now"
}
]
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}