{% if section.settings.banner_img != blank %}
  <section class="sell-banner">
    <div class="container">
      <div class="sell-ibanner-img"><img src="{{ section.settings.banner_img | img_url: 'master' }}"  height="{{ section.settings.banner_img.height }}" width="{{ section.settings.banner_img.width }}" loading="lazy"  />
        <div class="sell-banner-overlayer">{{ section.settings.banner_text }}</div>
      </div>
    </div>
  </section>
{% endif %}
  <section>
    <div class="sell-forms">
      <div class="container">
        <div class="row">
          <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12">
            <h3>{{ section.settings.form_text }}</h3>
            <div style="margin:0 auto;" class="pxFormGenerator" id="VtubdiBGdBzBSyayTa5UYQ"></div>
             
          </div>
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-12">
            <div class="sell-form-add">
                {% if  section.settings.detail_img != blank %}
              <div><img src="{{ section.settings.detail_img | img_url : 'master' }}"  height="{{ section.settings.detail_img.height }}" width="{{ section.settings.detail_img.width }}" loading="lazy"> </div>
                {% endif %}
              <div class="sell-detail text-center w-100"><label class="chat-eyely" id="chat-with-us"><i class="fa fa-comments"></i>Chat with us</label></div>
              <div class="sell-detail d-flex justify-content-center align-items-baseline w-100 text-center"><label class="chat-eyely"><i class="fa fa-envelope" aria-hidden="true"></i>Email: </label> <a href="mailto:eyely@gmail.com">eyely@gmail.com</a></div>
              <div class="sell-detail d-flex justify-content-center align-items-baseline w-100 text-center"><label class="chat-eyely"><i class="fa fa-phone" aria-hidden="true"></i>Phone: </label> <a href="tel:8777839359">877 783-9359</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ 'page-sell-eyely.css' | asset_url | stylesheet_tag }}
  <script>
    window.intercomSettings = {
    app_id: "uradbd4l",
    custom_launcher_selector:'#chat-with-us'
  };
   </script>
  {% schema %}
  {
  "name": "Sell On Eyely",
  "settings": [
  {
  "type": "image_picker",
  "id": "banner_img",
  "label": "Banner Image"
  },
  {
  "type": "text",
  "id": "banner_text",
  "label": "Banner Text"
  },
  {
  "type": "header",
  "content": "Sell On Eyely form"
  },
  {
  "type": "text",
  "id": "form_text",
  "label": "Form Text"
  },
  {
  "type": "header",
  "content": "Sell On Eyely Detail"
  },
  {
  "type": "image_picker",
  "id": "detail_img",
  "label": "Image"
  }
  ]
  }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}
  