{% assign collect = collections[section.settings.featured_collection] %}
{%- assign min = 15 -%}
{%- assign max = collect.all_products_count-%}
{%- assign date_fract = "now" | date: "%N" -%}
{%- assign diff = max | minus: min -%}
{%- assign random_number = "now" | date: "%N" | modulo: diff -%}
{%- assign random_number = random_number | plus: min -%}
{% paginate collect.products by collect.all_products_count %}
<style>
  .e-prd .e-prd-title span{
    background-image:url({{ 'shop.svg' | asset_url }});
  }
</style>

<section class="e-prd">
  <div class="container">

    <h3 class="e-prd-title"> {{section.settings.title}}</h3>
    <div class="row e-slider"> 
   {% for product in collect.products limit:5 offset:random_number %}
      
      <div class="col-lg-2 col-md-2 col-6">
        <div class="all-prd-main content1">
        <a href="{{product.url}}">
      	<div class="prd-main-div">
         
          <div class="prd-main-div-img">
          {% assign initial_image = product.images[1].src %}
            {% assign second_image = product.images[0].src %}    
            {%  unless initial_image != nil %}
              {% assign initial_image = product.images[0].src %}
              {% endunless %}
            {% if initial_image != nil %}
        
                                  {%
                                    render 'rimg',
                                    class: 'productitem--image-primary img-fluid lazyload',
                                    img: initial_image,
                                    size: '360x360'                                   
                                  %}
            {% endif %}
            
                      {% if second_image != nil %}
        
                                  {%
                                    render 'rimg',
                                    class: 'v-img1 img-fluid lazyload',
                                    img:second_image,
                                    size: '360x360'                                   
                                  %}
            {% endif %}
          </div>
     
          <div class="prd-main-div-info">
            <h3 class="b-headings"><span class="prd-main-div-title">{{product.title}} </span> <br> <span class="prd-main-div-price">{{product.price |money}}</span></h3>
                       {% if product.vendor == 'Eyely' %}
                          <div class="prd-ship">
                            <i class="fa fa-truck" aria-hidden="true"></i><span>Usually Ships within 24 hours</span>
                          </div>
                           {% elsif product.vendor == 'happimess' %}
                          <div class="prd-ship">
                            <i class="fa fa-truck" aria-hidden="true"></i><span>Usually Ships within 24 hours</span>
                          </div>
                           {% elsif product.vendor == 'ovalair' %}
                          <div class="prd-ship">
                            <i class="fa fa-truck" aria-hidden="true"></i><span>Usually Ships within 24 hours</span>
                          </div>
                          {% endif %}
     </div>
        </div>
        </a>

        </div>
      </div>    
     
      {% endfor %}
    </div>
   {% comment %}
    <div class="load-more-btn">
      <a href="#" id="loadMore1">view more</a>
    </div>
{% endcomment %}
  </div>
</section>

{% comment %}
<section class="teamwork mb-5">
  <h3 class="teamwork-headline b-headings">{{section.settings.title}}</h3>
  <div class="team-work-prd">
  	<div class="container-fluid">
      <div class="row">
        {% if section.settings.featured_collection != blank %}
       		    {% for product in collect.products limit:4 offset:random_number %}
                  <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="all-prd-main">
                      <a href="{{product.url}}">
                        <div class="prd-main-div">
                          <div class="prd-main-div-img">
                            {% if product.featured_image != blank %}
                            <img src="{{product.featured_image|img_url:'original'}}" class="img-fluid">
                            {% endif %}
                        
                          </div>
                          <div class="prd-main-div-info">
                            <h3 class="b-headings"><span class="prd-main-div-title">{{product.title}} </span> <span class="prd-main-div-price">{{product.price | money}}</span></h3>
                          </div>
                        </div>
                      </a>

                    </div>
                  </div>
        	{% endfor %}
        {% endif %}
  
      </div>
    </div>
  </div>
</section>
  {% endcomment %}
{% endpaginate %}
{% schema %}
  {
    "name": "Team Product",
    "settings": [
	{
		"type":"text",
        "id":"title",
        "label":"Title",
		"default":"Let's Hear It for Teamwork!"
	},
	{
    "type":"collection",
    "id":"featured_collection",
    "label":"Featured Collection"
	}

],
"presets": [
  {
    "name": "Team Product"
  }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
